body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* ********************************/
/* En-tête */
header {
    position: fixed; /* Pour fixer l'en-tête en haut de la fenêtre */
    top: 0; /* Pour positionner l'en-tête tout en haut de la fenêtre */
    left: 0; /* Pour positionner l'en-tête tout à gauche */
    width: 100%; /* Pour que l'en-tête occupe toute la largeur */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    background-color: #117a85; /* Couleur de fond pour le header */
    z-index: 1000; /* Assurez-vous que l'en-tête est au-dessus du reste du contenu */
}

.logo {
    max-height: 120px;
    border-radius: 50%; /* Mettre le logo sous forme de rond */
}

.titre-image {
    max-height: 100px;
    margin-left: 10px; /* Ajustez si nécessaire pour l'espacement entre le logo et le titre */
    font-size: 24px; /* Augmenter la taille du titre */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 0;
    transition: transform 0.3s;
}

nav ul li a img {
    display: block;
    height: 45px; /* Adjust the height as needed */
    width: 45px;  /* Adjust the width to be the same as the height for a perfect circle */
    border-radius: 50%; /* Make the images round */
    transition: transform 0.3s;
}

nav ul li a:hover img {
    transform: scale(1.3); /* Enlarge the image slightly on hover */
}

section {
    margin-top: 70px; /* Ajuster le décalage en fonction de la hauteur de l'en-tête */
    padding-top: 80px; 
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

section h2, section h3 {
    color: #117a85;
}

/* ********************************/
/* Nouvelle section Welcome */
.welcome-section {
    background-image: url('annonce4.jpeg'); /* Image en arrière-plan */
    background-size: cover; /* Couvre toute la section */
    background-position: center bottom; /* Position de l'image plus bas */
    padding: 130px 20px; /* Ajoute un padding pour l'espacement */
    text-align: center; /* Centre le texte */
    color: black; /* Couleur du texte */
}

.welcome-content {
    background-color: rgba(255, 255, 255, 0.6); /* Fond semi-transparent pour le texte */ 
    padding: 20px;
    border-radius: 10px;
    display: inline-block; /* Pour centrer le contenu */
}

.welcome-section h1 {
    font-size: 2.7em; /* Taille du titre */
    margin-bottom: 10px;
    color : black
}

.welcome-section h2 {
    font-size: 2.3em; /* Taille des sous-titres */
    margin: 10px 0;
    color : black
}

.highlight {
    font-size: 1.5em; /* Taille accentuée pour le "1" */
    color: #117a85; /* Couleur accentuée */
}

/* ********************************/
/* Carousel */
.carousel-section {
    background-color: #d8d8d8; /* Couleur de fond gris clair */
    padding: 20px; /* Ajout de padding pour l'espacement intérieur */
    border-radius: 8px; /* Facultatif : pour arrondir les coins */
    margin: 20px 0; /* Maintenir le margin existant */
}

.carousel-section h3 {
    text-align: center; /* Centrer le texte */
    color: black; /* Couleur du texte */
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-track-container {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel-slide {
    min-width: calc(100% / 5); /* Display 5 images at a time */
    box-sizing: border-box;
    padding: 0 10px; /* Space between images */
}

.carousel-slide img {
    width: 100%;
    border-radius: 8px;
}

.carousel-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#carousel-prev {
    left: 0;
}

#carousel-next {
    right: 0;
}

/* ********************************/
/* Footer */
footer {

    margin: 20px 0;
    padding: 20px;
    padding-top : 150px;
    border-top: 2px solid #ccc;
    text-align: center;
}

footer p {
    color: #117a85;
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

/* ********************************/
/* Styles pour le splash screen */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.splash-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.splash-image {
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
}

#close-splash {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

/* ********************************/
/* Apply the new color to all buttons */
button {
    background-color: #117a85;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0e6b70;
}

/* ********************************/
/* Style pour la section de rendez-vous */
.rendez-vous-section {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 20px;
    text-align: center;
}

.rendez-vous-section h1 {
    color: #117a85;
}

/* ********************************/
/* Styles spécifiques à la page de recherche */
body.search-page {
    background-image: url('background1.jpeg'); /* Remplacez par le chemin de votre image de fond */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Overlay noir avec transparence */
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
}

.search-container header {
    margin-bottom: 20px;
}

.search-container .logo {
    max-width: 150px;
}

.search-container h1 {
    margin: 10px 0;
}

.search-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-container input,
.search-container select,
.search-container button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

/* ********************************/
/* Style pour la section votre compte */
body.votre-compte-page {
    background-color: #f0f0f0;
    color: #333;
    padding-top: 250px !important; /* Ajuste le padding-top pour éviter le chevauchement avec l'en-tête fixe */
}
.votre-compte-container {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 600px;
    margin: 70px auto 0 auto; /* Ajuste le margin-top pour plus d'espacement */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.votre-compte-form {
    display: flex;
    flex-direction: column;
}

.votre-compte-form label {
    margin-bottom: 10px;
    color: #117a85;
}

.votre-compte-form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.votre-compte-button {
    background-color: #117a85;
    color: white;
    border: none;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.votre-compte-button:hover {
    background-color: #0e6b70;
}